# Python artifacts:
*.pyc
*.pyo
*.log
*.json

# VS
*.pdb

# CMake:
*.lib

# Eclipse IDE:
.project
.pydevproject

# PyCharm IDE:
.idea

# Mac directory info:
.DS_Store

# Directories:
built/
nirai/panda3d/built